<div class="row">
    <div class="col-sm-6">
        <mat-input-container style="width: 595px"> 
            <input matInput placeholder="Site url" value="" [(ngModel)]="mainUrl"> 
        </mat-input-container>
        <button mat-raised-button color="primary" (click)="parse()">Parse</button>
    </div>
    
    <div class="col-sm-6">
        <div class="card mb-3">
            <table >
                <tbody>
                    <tr *ngFor="let rowUrl of secondaryUrls; let i = index">
                        <td>"{{rowUrl}}",</td>                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <mat-input-container style="width: 595px"> 
            <input matInput placeholder="For parsing" value="" [(ngModel)]="decodeUrl"> 
        </mat-input-container>
        <button mat-raised-button color="primary" (click)="decode()">Decode</button>
    </div>   
    
</div>