<div class="row">
    <div class="col-md-9">

        <div class="row taskRow">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Task Id" aria-label="Task Id" [matAutocomplete]="auto" [formControl]="taskCtrl">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let task of filteredYoutubeTasks | async" [value]="task.taskId">
                            <span>{{ task.taskId }}</span>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>
            <button mat-raised-button color="primary" (click)="apply()">Apply</button>
            <button mat-raised-button color="accent" disabled="{{!isReadyToStart}}" (click)="start()">Start</button>
        </div>

        <div class="row taskRow">
            <mat-input-container class="fieldsArea120Width">
                <input matInput placeholder="Count Video" value="" [ngModel]="countVideo">
            </mat-input-container>
            <mat-input-container class="fieldsArea120Width">
                <input matInput placeholder="Count Reklama" value="" [ngModel]="countReklama">
            </mat-input-container>
            <mat-input-container class="fieldsArea120Width">
                <input matInput placeholder="Count Move" value="" [ngModel]="countMove">
            </mat-input-container>
            <mat-input-container class="fieldsArea100Width">
                <input matInput placeholder="Video freeze" value="" [ngModel]="videoFreeze">
            </mat-input-container>
            <mat-input-container class="fieldsArea120Width">
                <input matInput placeholder="Reklama freeze" value="" [ngModel]="reklamaFreeze">
            </mat-input-container>
        </div>

    </div>
    <div class="col-md-3">
        <div>
            <youtube-player [videoId]="localVideoId" (ready)="savePlayer($event)" (change)="onStateChange($event)"></youtube-player>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-sm-6">
        <div class="card mb-3">
            <div class="card-header">Start time:</div>
            <div class="card-body">
                <h4 class="card-title">Dark card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card mb-3">
            <div class="card-header">End time:</div>
            <div class="card-body">
                <h4 class="card-title">Dark card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>