body {
    margin: 0;
  }
  
  .upPanel {
    height: 270px;
    display: flex;
  }
  
  .downPanel {
    height: 70vh;
    display: flex;
  }
  
  .left {
    width: 69.5%;
    height: 100%;
    display: inline-flex;
    //background: black;
  }
  
  .right {
    //background-color: white;
    height: 100%;
    width: 30%;
    display: inline-flex;
  }
  
  .resultArea {
    font-size: 11px;
    height: 610px;
  }
  
  .resultRightArea {

  }
  
  .fieldsArea85Width {
    width: 85px;
  }
  
  .fieldsArea100Width {
    width: 100px;
  }
  
  .fieldsArea120Width {
    width: 120px;
  }
  .taskRow {
    height: 45px;
    margin-left: 0;
  }
  .endTimeIcon {
    float: right;
    font-size: 24px;
    color: darkgrey;
  }