<div class="row">
    <div class="col-sm-6">
        <div class="card mb-3">
            <div class="card-header">Start time:</div>
            <div class="card-body">
                <h4 class="card-title">Dark card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    
    <div class="col-sm-6">
        <div class="card mb-3">
            <div class="card-header">End time:</div>
            <div class="card-body">
                <h4 class="card-title">Dark card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>
