<form class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Task Id" aria-label="Task Id" [matAutocomplete]="auto" [formControl]="taskCtrl">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let task of filteredYoutubeTasks | async" [value]="task.taskId">
                <span>{{ task.taskId }}</span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>

<!-- <div>
    <mat-slide-toggle>
        Disable Input?
    </mat-slide-toggle>
</div> -->

<div>
    <youtube-player [videoId]="id" (ready)="savePlayer($event)" (change)="onStateChange($event)">
    </youtube-player>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card mb-3">
            <div class="card-header">Start time:</div>
            <div class="card-body">
                <h4 class="card-title">Dark card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card mb-3">
            <div class="card-header">End time:</div>
            <div class="card-body">
                <h4 class="card-title">Dark card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>