.taskRow {
    height: 45px;
    margin-left: 0;
}
.fieldsArea85Width {
    width: 85px;
}
  
.fieldsArea100Width {
    width: 100px;
}
  
.fieldsArea120Width {
    width: 120px;
}

.gridContainer {
    overflow: auto;
    max-height: 585px;
    display: block
}

.table td {
    padding: 0;
    vertical-align: baseline;
}

.loader {
    animation: spin 1.5s linear infinite;
    font-size: 45px;
    color: #9e9e9e;
}

.loaderError {
    font-size: 48px;
    color: lightcoral;
    padding-left: 5px;
}

.resultArea {
    font-size: 11px;
    height: 610px;
  }

.endTimeIcon {
    float: right;
    font-size: 21px;
    color: darkgrey;
}

.areaPadding {
    padding-left: 2px;
    padding-right: 2px;
}

@keyframes spin {
    0% {transform: rotate(0deg); }
    100% {transform: rotate(360deg); }
}