.taskRow {
    height: 45px;
    margin-left: 0;
}
.fieldsArea85Width {
    width: 85px;
}
  
.fieldsArea100Width {
    width: 100px;
}
  
.fieldsArea120Width {
    width: 120px;
}

.gridContainer {
    overflow: auto;
    max-height: 585px;
    display: block
}

.table td {
    padding: 0;
    vertical-align: baseline;
}

.loader {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg); }
    100% {transform: rotate(360deg); }
}