<div class="row">
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-12">
                <div class="row taskRow">
                    <form class="example-form">
                        <mat-form-field>
                            <input matInput placeholder="Task Id" aria-label="Task Id" [matAutocomplete]="auto" [formControl]="taskCtrl" (click)="onTaskIdClick()">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let task of filteredSitesTasks | async" [value]="task.taskId">
                                    <span>{{ task.taskId }}</span>
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </form>
                    <button mat-raised-button color="primary" (click)="apply()">Apply</button>
                    <button mat-raised-button color="accent" disabled="{{!isReadyToStart}}" (click)="start()">Start</button>
                    <i class="fa fa-spinner loader" aria-hidden="true" [hidden]='!showLoader'></i>
                    <i class="fa fa-exclamation-triangle loaderError" aria-hidden="true" [hidden]='!showLoaderError'></i>                   
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <mat-input-container style="width: 595px">
                    <input matInput placeholder="Site url" value="" [(ngModel)]="mainUrl">
                </mat-input-container>
            </div>
            <div class="col-md-12">
                <mat-input-container class="fieldsArea120Width">
                    <input matInput placeholder="Count Urls" value="" [ngModel]="countUrls">
                </mat-input-container>
                <mat-input-container class="fieldsArea120Width">
                    <input matInput placeholder="Count Advertise" value="" [ngModel]="countAdvertise">
                </mat-input-container>
                <mat-input-container class="fieldsArea120Width">
                    <input matInput placeholder="Count Move" value="" [ngModel]="countMove">
                </mat-input-container>
                <mat-input-container class="fieldsArea100Width">
                    <input matInput placeholder="Site freeze" value="" [ngModel]="siteFreeze">
                </mat-input-container>
                <mat-input-container class="fieldsArea120Width">
                    <input matInput placeholder="Advertise freeze" value="" [ngModel]="advertiseFreeze">
                </mat-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="isOneTimeTaskFlagId" [ngbCollapse]="!isOneTimeTask">
                    <mat-input-container style="width: 595px">
                        <input matInput placeholder="One Time Chanel Link" value="" [ngModel]="oneTimeSitelLink">
                    </mat-input-container>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button color="primary" (click)="clear()">Clear</button>               
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <mat-slide-toggle class="example-margin" [checked]="autoCloseAdvertiseFlag" (change)="autoCloseAdvertise($event)">
            Auto close advertise
        </mat-slide-toggle>
        <mat-slide-toggle class="example-margin" (change)="isOneTimeTask = !isOneTimeTask" [attr.aria-expanded]="isOneTimeTask" aria-controls="isOneTimeTaskFlagId">
            One Time Task
        </mat-slide-toggle>
    </div>
    <div class="col-md-3">
        <div>
            <iframe #webFrame width="100%" height="276px"></iframe>
        </div>
    </div>
</div>


<mat-card style="height: 645px; padding: 5px;">
    <mat-card-content>
        <mat-tab-group class="demo-tab-group" #matTab>
            <mat-tab label="Tab 1">
                <div style="display: flex">
                    <div class="col-md-6 areaPadding">
                        <table class="table gridContainer">
                            <div class="card-header" [hidden]="mainUrlsDatasource.length > 0">
                                Main Urls
                            </div>
                            <tbody>
                                <tr *ngFor="let rowUrl of mainUrlsDatasource; let i = index">
                                    <td>{{rowUrl}}</td>
                                    <td>
                                       <button mat-raised-button color="primary" (click)="addToFinalGrid(rowUrl)" [disabled]="prepearedFinalList.indexOf(rowUrl) != -1 || sitesLeft == 0">Add</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-5 areaPadding">
                        <table class="table gridContainer">
                            <div class="card-header" [hidden]="mainUrlsDatasource.length > 0">
                                Secondary Urls
                            </div>
                            <tbody>
                                <tr *ngFor="let rowUrl of prepearedFinalList; let i = index">
                                    <td>{{rowUrl}}</td>
                                    <td>
                                        <button mat-raised-button color="primary" (click)="removeFromSecondaryGrid(rowUrl)">Remove</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-1">
                            Sites left: {{sitesLeft}}
                            <button mat-raised-button color="primary" (click)="removeAllFromSecondary()">Remove All</button>
                            <button mat-raised-button color="primary" class="addToPrepearedGridBtn" (click)="nextStepWithUrls()" [disabled]="isNextStepAvailable()">Add All</button>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Tab 2">
                    <div style="display: flex">
                        <div class="col-sm-6 areaPadding">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <span>Start time:</span>
                                    <span #startTime></span>
                                    <i class="fa fa-refresh endTimeIcon" (click)="refreshStartResultArea()"></i>
                                </div>
                                <div class="card-body resultArea">
                                    <p [innerHTML]="startHtmlString"></p>
                                </div>
                            </div>
                        </div>
                    
                        <div class="col-sm-6 areaPadding">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <span>End time:</span>
                                    <span #endTime></span>
                                    <i class="fa fa-exclamation-triangle endTimeIcon" #endIcon></i>
                                </div>
                                <div class="card-body resultArea">
                                    <p #finishSiteUrlsHtml [innerHTML]="finishSiteUrls"></p>
                                    <p #finishAdvertiseHtml [innerHTML]="finishAdvertiseUrls"></p>  
                                </div>
                            </div>
                        </div>
                    </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>