<div class="row">
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-12">
                <div class="row taskRow">
                    <form class="example-form">
                        <mat-form-field>
                            <input matInput placeholder="Task Id" aria-label="Task Id" [matAutocomplete]="auto" [formControl]="taskCtrl" 
                            (click)="onTaskIdClick()">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let task of filteredYoutubeTasks | async" [value]="task.taskId">
                                    <span>{{ task.taskId }}</span>
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </form>
                    <button mat-raised-button color="primary" (click)="apply()">Apply</button>
                    <button mat-raised-button color="accent" disabled="{{!isReadyToStart}}" (click)="start()">Start</button>
                </div>
                <div>
                  TASK URL
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <mat-input-container class="fieldsArea120Width">
                    <input matInput placeholder="Count Urls" value="" [ngModel]="countUrls">
                </mat-input-container>
                <mat-input-container class="fieldsArea120Width">
                    <input matInput placeholder="Count Advertise" value="" [ngModel]="countAdvertise">
                </mat-input-container>
                <mat-input-container class="fieldsArea120Width">
                    <input matInput placeholder="Count Move" value="" [ngModel]="countMove">
                </mat-input-container>
                <mat-input-container class="fieldsArea100Width">
                    <input matInput placeholder="Site freeze" value="" [ngModel]="siteFreeze">
                </mat-input-container>
                <mat-input-container class="fieldsArea120Width">
                    <input matInput placeholder="Advertise freeze" value="" [ngModel]="advertiseFreeze">
                </mat-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="isOneTimeTaskFlagId" [ngbCollapse]="!isOneTimeTask">
                    <mat-input-container style="width: 595px">
                        <input matInput placeholder="One Time Chanel Link" value="" [ngModel]="oneTimeChanelLink">
                    </mat-input-container>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button color="primary" (click)="clear()">Clear</button>
                <!-- <button mat-raised-button color="primary" (click)="testJms()">Test JMS</button>
                <button mat-raised-button color="warn" (click)="openGclidPage()">Open GCLID page</button>
                <button mat-raised-button (click)="doChangeVideoSource($event)">{{toggleVideoText}}</button>
                <button mat-raised-button (click)="stopMusic()">Stop music</button> -->
            </div>
        </div>
    </div>
    <div class="col-md-2">        
        <mat-slide-toggle class="example-margin" [checked]="autoCloseAdvertiseFlag" (change)="autoCloseAdvertise($event)">
            Auto close advertise
        </mat-slide-toggle>
        <mat-slide-toggle class="example-margin" (change)="isOneTimeTask = !isOneTimeTask" [attr.aria-expanded]="isOneTimeTask" aria-controls="isOneTimeTaskFlagId">
            One Time Task
        </mat-slide-toggle>        
    </div>
    <div class="col-md-3">
        <div>
            IFRAME HERE
        </div>
    </div>
</div>
